@page "/distancecalculator"

<PageTitle>Distance Calculator</PageTitle>

<h1>Distance Calculator</h1>

<LocationSelector Label="Source" Locations="@Locations" @bind-Selected="SelectedSource"></LocationSelector>
<LocationSelector Label="Destination" Locations="@Locations" @bind-Selected="SelectedDestination"></LocationSelector>
<CategorySelector Label="Parcel Category" Categories="@Categories" @bind-Selected="SelectedCategory"></CategorySelector>
<WeightClassSelector Label="Weight class" WeightClasses="@WeightClasses" @bind-Selected="SelectedWeightClass"></WeightClassSelector>

<label>
	Parcel Height
	<input type="number" @bind="ParcelSize.MaxHeight" />
</label>

<label>
	Parcel Breath
	<input type="number" @bind="ParcelSize.MaxBreadth" />
</label>

<label>
	Parcel Depth
	<input type="number" @bind="ParcelSize.MaxDepth" />
</label>
<br />

<label>
	Departure date
	<input type="date" @bind="SelectedDepartureDate" /> </label>

<label>
	Arrival date
	<input type="date" @bind="SelectedArrivalDate" />
</label>

@code{
    public DateTime? DateValue {get;set;} = new DateTime(DateTime.Now.Year,DateTime.Now.Month,10);
    public DateTime MinDate {get;set;} = new DateTime(DateTime.Now.Year,DateTime.Now.Month,05);
    public DateTime MaxDate {get;set;} = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 27);
}

<br />
<button class="btn btn-primary mb-5" @onclick="CalculateDistance">Calculate</button>

<br />

@if (DisplayDistance is not null)
{
    <span class="alert alert-primary">
        <span>@DisplaySource</span>
        <span class="oi oi-arrow-right mr-1" aria-hidden="true"></span>
        <span>@DisplayDistance km</span>
        <span class="oi oi-arrow-right" aria-hidden="true"></span>
        <span>@DisplayDestination</span>
    </span>
}
