@page "/distancecalculator"

<PageTitle>Distance Calculator</PageTitle>

<h1>Distance Calculator</h1>
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.0/dist/confetti.browser.min.js"></script>

<LocationSelector Label="Source" Locations="@Locations" @bind-Selected="SelectedSource"></LocationSelector>
<LocationSelector Label="Destination" Locations="@Locations" @bind-Selected="SelectedDestination"></LocationSelector>
<CategorySelector Label="Parcel Category" Categories="@Categories" @bind-Selected="SelectedCategory"></CategorySelector>

<div class="form-group row mb-3">
	<label for="parcel weight in kilos" class="col-sm-2 col-form-label">Parcel weight in kilos</label>
	<div id="parcel-height" class="col-sm-4">
		<input class="form-control" type="number" @bind="WeightInKilos" />
	</div>
</div>

<div class="form-group row mb-3">
    <label for="parcel-height" class="col-sm-2 col-form-label">Parcel height</label>
    <div id="parcel-height" class="col-sm-4">
        <input class="form-control" type="number" @bind="ParcelSize.MaxHeight" />
    </div>
</div>

<div class="form-group row mb-3">
	<label for="parcel-breadth" class="col-sm-2 col-form-label">Parcel Breadth</label>
    <div id="parcel-breadth" class="col-sm-4">
		<input class="form-control" type="number" @bind="ParcelSize.MaxBreadth" />
    </div>
</div>
<div class="form-group row mb-3">
	<label for="parcel-height" class="col-sm-2 col-form-label">Parcel Depth</label>
    <div id="parcel-depth" class="col-sm-4">
		<input class="form-control" type="number" @bind="ParcelSize.MaxDepth" />
    </div>
</div>


@code{
    public DateTime? DateValue {get;set;} = new DateTime(DateTime.Now.Year,DateTime.Now.Month,10);
    public DateTime MinDate {get;set;} = new DateTime(DateTime.Now.Year,DateTime.Now.Month,05);
    public DateTime MaxDate {get;set;} = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 27);
}

<br />
<button class="btn btn-primary mb-4" @onclick="CalculateDistance">Search</button>

<br />

@if (Route.Any())
{
    <div class="table--responsive-scroll">
        <table class="table">
            <thead>
            <tr>
                <th scope="col function-link">Origin</th>
                <th scope="col function-link">Destination</th>
                    <th scope="col function-link">Price</th>
                    <th scope="col function-link">Travel time</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var row in Route)
            {
                <tr>
                    <th>@row.OriginName</th>
                    <th>@row.DestinationName</th>
                    <th>@row.CostInDollars</th>
                    <th>@row.TimeInHours</th>
                    <th>
                        <a class="function-link" @onclick="() => CreateBooking(row)">Book</a>
                    </th>
                </tr>
            }
            </tbody>
        </table>
    </div>
}